body {
    font-family: "Raleway", sans-serif;
}

h1 {
    color: #e3e9e9;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    color: #e3e9e9;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

li::first-letter {
    text-transform: capitalize;
}


.weather-app {
    border: 1px solid #c4d0c6;
    background: #8fa5b2;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;

}

.over-view {
    margin-bottom: 20px;
}

.weather-icon {
    height: 64px;
    width: 64px;
    margin-right: 10px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 70px;
    width: 66px;
}

.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 100;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
    text-decoration: none;
}

.weather-forecast {
    padding: 20px;
    margin: 30px auto;
    max-width: 600px;
}

.search-form {
    margin-bottom: 20px;
}

.convertToFahrenheit,
.convertToCelsius {
    color: #c4d0c6;
}

.weekly-container {
    border: 1px solid #c4d0c6;
    background: #a7d6e1;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
}

h2 {
    color: #000000;
    text-align: center;
    font-size: 18px;
}

.forecast h5 {
    font-size: 20px;
    height: 20px;
}

.forecast {
    text-align: center;
}

.forecast p {
    font-size: 14px;
}

.daily-forecast {
    padding-top: 5px;
    padding-bottom: 5px;

}

.h5 {
    font-size: 20px;
}

.daily-forecast p {
    font-size: 16px;
}

.footer {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}